<!doctype html>
{% load static %}
<html lang="en-ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'lesson_3/css/base.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
    <aside>
        <img src="{% static 'lesson_3/img/careers-python-django.png' %}" alt="Логотип">
        <span class="logo">.by_gotsanyuk</span>
        <h3>Навігація по сайті</h3>
        <ul>
            <hr>
            {% block menu %}
            {% endblock %}
        </ul>
    </aside>
    <main>
        <div class="featuers">
        {% block content %}
        {% endblock %}
        </div>
    </main>
</body>
</html>
