<!doctype html>
{% extends 'lesson_3/base.html' %}
<html lang="ua">

{% block menu %}
<a href="{% url 'task_1' %}"><li><i class="bi bi-1-circle"></i> Завдання №1</li></a>
<a href="{% url 'task_2' %}"><li><i class="bi bi-2-circle"></i> Завдання №2</li></a>
<a href="{% url 'task_3' %}"><li><i class="bi bi-3-circle"></i> Завдання №3</li></a>
<a href="{% url 'task_4' %}"><li><i class="bi bi-4-circle"></i> Завдання №4</li></a>
<a href="{% url 'task_5' %}"><li><i class="bi bi-5-circle"></i> Завдання №5</li></a>
<a href="{% url 'task_6' %}"><li><i class="bi bi-6-circle"></i> Завдання №6</li></a>
<a href="{% url 'task_7' %}"><li><i class="bi bi-7-circle"></i> Завдання №7</li></a>
<a href="{% url 'task_8' %}"><li><i class="bi bi-8-circle"></i> Завдання №8</li></a>
{% endblock %}
</html>
