<!doctype html>
{% extends 'lesson_3/base.html' %}
<html lang="ua">

{% block title %} Завдання №8 {% endblock %}

{% block content %}
{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list|dictsort:"id" %}
            <li>
                <a href="/polls/{{ question.id }}/">
                    Запитання: {{ question.question_text }}</a>
            </li>
        {% endfor %}
        {% else %}
        <p>Список запитань порожній</p>
{% endif %}
{% endblock %}
