<!doctype html>
{% extends 'lesson_3/base_.html' %}
<html lang="ua">

{% block title %}Завдання №2{% endblock %}

{% block menu %}
<a href="{% url 'task_2_name' 1 %}"><li><i class="bi bi-person-circle"></i> Люк</li></a>
<a href="{% url 'task_2_name' 2 %}"><li><i class="bi bi-person-circle"></i> Лея</li></a>
<a href="{% url 'task_2_name' 3 %}"><li><i class="bi bi-person-circle"></i> Хан</li></a>
{% endblock %}

{% block content %}
    <h1>Ласкаво просимо до всесвіту LUCASFILM!</h1>
{% endblock %}
</html>
