<!doctype html>
{% extends 'lesson_3/base_.html' %}
<html lang="ua">

{% block title %}Завдання №2{% endblock %}

{% block menu %}
<a href="{% url 'task_2_name' 1 %}"><li><i class="bi bi-person-circle"></i> Люк</li></a>
<a href="{% url 'task_2_name' 2 %}"><li><i class="bi bi-person-circle"></i> Лея</li></a>
<a href="{% url 'task_2_name' 3 %}"><li><i class="bi bi-person-circle"></i> Хан</li></a>
{% endblock %}

{% block content %}
    <ul>
        {% for p in posts %}
        <li>
            <h2>{{ p.title }}</h2>
            <p>{{ p.content }}</p>
            <hr>
        </li>
    {% endfor %}
</ul>
{% endblock %}
</html>
