<!doctype html>
{% extends 'lesson_3/base.html' %}
<html lang="ua">

{% block title %}Завдання №4{% endblock %}

{% block content %}
  <h3>Виберіть запит</h3>
    <form action="#" method="POST">
    {% csrf_token %}
    <input type="submit" value="File" name="File"/>
    <input type="submit" value="Json" name="Json"/>
    <input type="submit" value="Http" name="Http"/>
    <input type="submit" value="Text" name="Text"/>
    </form>
{% endblock %}
</html>
