<!doctype html>
{% extends 'lesson_3/base.html' %}
<html lang="ua">

{% block title %} Завдання №7 {% endblock %}

{% block content %}
        {% for v in vocabulary %}
        <ol>
                <li> {{v.name}} {{v.surname}} </li>

        </ol>
{% endfor %}
{% endblock %}
