<!doctype html>
{% extends 'lesson_3/base.html' %}
<html lang="ua">
{% block title %}Завдання №1{% endblock %}

{% block content %}
        <p>{% for idea in lets_do_it_list %}
             Пріоритетність: {{ idea.priority }} --> Мета: {{ idea.task }}<p>
        {% endfor %}
{% endblock %}
</html>
