<!doctype html>
{% extends 'lesson_3/base.html' %}
<html lang="ua">

{% block title %}Завдання №3{% endblock %}

{% block content %}
  <h3>Ось ваш файл! Щоб завантажити введіть пароль:</h3>

  <form action="#" method="POST">
  {% csrf_token %}
    <label>прямо тут -></label>
    <input name="password">
    <button type="submit">Download</button>
  </form>
{% endblock %}
</html>
