<!doctype html>
{% extends 'lesson_3/base.html' %}
<html lang="ua">

{% block title %}Завдання №5{% endblock %}

{% block content %}
        <p>{% for idea in lets_do_it_list|dictsortreversed:"priority" %}
             Пріоритетність: {{ idea.priority }} --> Мета: {{ idea.task }}<p>
        {% endfor %}
{% endblock %}
</html>
