body {
    background: #2c2c2c;
}


aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 120px;
    margin-left: -14px;
}

aside .logo {
    font-size: 15px;
    margin-left: -14px;
    font-weight: bold;
    position: relative;
    top: 40px;
}

aside h3 {
    margin-top: 50px;
    font-size: 25px;
}

aside ul {list-style: none;}

aside a {
  text-decoration: none;
}


li {
    color: #fff;
}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 10px;
    transition: transform .6s ease;
    text-decoration: none;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main .featuers {
    float: left;
    color: #fff;
    margin-top: 100px;
    margin-left: 35px;
}